.navBtn{
    border: none;
    color: white;
    background-color: black;
    padding: 7px 23px;
    border-radius: 9px;
}
.navBtn:hover{
    background-color: white;
    color: black;
}
.whiteButton{
    padding: 7px 23px;
    border-radius: 9px;
    border: none;background-color: #e32213;
    color: white;
}
.whiteButton:hover{
    background-color: black;
    color: white;
    

}
.navbar-nav li a{
    font-weight: 600;
    font-size: 17px;
    color: white;
    
}

.nav-link{
    color: white;
}
.navbar-nav .nav-link.active{
    color: white;
    border-bottom: 2px solid white
}