.primaryHeading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 45px;
}

.smallpara {
    font-size: 16px;
}

.readmore {
    color: white;
    border: none;
    padding: 10px 23px;
    background-color: rgb(191 28 28);
    border-radius: 8px;
}

.readmore:hover {
    background-color: black;
}

.hotelCard {
    box-shadow: 3px 5px 7px 3px rgb(114 114 114 / 25%);
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}

.packages {
    font-size: 25px;


}

.bookingForm input,
.bookingForm textarea {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    border-radius: 7px;
    background: white;
    box-sizing: border-box;

}

input:focus, textarea:focus{
    outline: none;
}

textarea {
    resize: none;
}


.bookingForm label {
    font-size: 14px;
    font-weight: 600;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}